@import "bourbon";

$background-color: bisque;
$text-color: darkslategray;

body {
  @include background-image( radial-gradient(white, bisque) );
  font-family: $helvetica;
  color: $text-color;
  text-align: center;
}

.container {
	text-align: center;
	width: 100%;
}

.scores {
	float: left;
	width: 25%;
}

.canvas {
	display: inline;
	width: 50%;
}

.options {
	float: right;
	width: 25%;
}