body {
  background-image: -webkit-radial-gradient(  #ffffff, #ffe4c4);
  background-image: radial-gradient(   #ffffff, #ffe4c4);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: darkslategrey;
  text-align: center; }

.container {
  text-align: center;
  width: 100%; }

.scores {
  float: left;
  width: 25%; }

.canvas {
  display: inline;
  width: 50%; }

.options {
  float: right;
  width: 25%; }
